<main>
    <section>

        <img [src] = "user.photo" [alt] = "user.firstName" [title] =  "user.firstName + ' ' + user.name">
        <h1 *ngIf = "nameDisplay" >{{user.firstName}} {{user.name}} </h1>
        <p [class]="classVisibility">Age : {{user.age}} years old </p>
        <p>{{user.quote}} </p>
        
        <label for="myQuote">Edit the quote</label>
        <input id="myQuote" [(ngModel)] = "user.quote" placeholder="Type your quote">
        
        <button (click) = "changeClassVisibility()" >Show / hide my age</button>
        <button (click) = "changeNameDisplay()" >Show / hide my name</button>
    </section>


</main>
